h4{
    color:#ccc !important;
    display:inline-block;
}

.table-div{
    margin-left:11%;
    margin-right:11%;
}

.h2-left{
    max-width: 30%;
    display: inline-block;
}

.loading{
    max-width:30%;
    margin-left:2%;
    display: inline-block;   
}

.img-loading{
    display:inline-block; 
    width:7%;
    height:7%;
    margin-bottom:3%;
    margin-left:1%
}