h4{
    color:#ccc !important;
}

.left-form{
    float:left;
    max-width: 30%;
    margin-left:10%;
}

.option-style{
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
}

.canvas-left{
    margin-left:50%;
}

.h2-left{
    max-width: 30%;
    display: inline-block;
}

.loading{
    max-width:30%;
    margin-left:2%;
    display: inline-block;   
}